@import "./styles/header.css";
@import "./styles/intro.css";
@import "./styles/projects.css";
@import "./styles/services.css";
@import "./styles/contacts.css";
@import "./styles/footer.css";
@import "./styles/gallery.css";
@import "./styles/about-us.css";

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #ffffff;
}

h1,
h2,
h3,
a,
p,
div {
    letter-spacing: -0.03em;
}

h1,
h2,
h3 {
    color: #121212;
}

h1 {
    color: rgb(18, 18, 18);
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
}

.container {
    margin: 0 auto;
    width: 1150px;
    background-color: #ffffff;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
        background-color: green;
    }

    section {
        padding-top: 120px;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    h2 {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 13x;
        padding-right: 12px;
        background-color: red;
    }

    section {
        padding-top: 80px;
    }

    h1 {
        font-size: 30px;
        line-height: 31.62px;
    }

    h2 {
        font-size: 14px;
        line-height: 19px;
    }

}















.fullWidthBtn {
    display: block;
    width: 100%;
    height: 153px;
    line-height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
}

.fullWidthBtn:hover {
background-color: #AD1818;
color: #fff;
}





.nav {
    float: right;

}

.nav__link {
    margin-left: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    color: #121212;
}

.nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}



/* .full_img {
    border: 1px solid red;
} */




.section-long {
    padding-bottom: 150px;
}

/* section {
    width: 1400px;
    padding: 150px 125px 0 125px;
} */

section:first-child {
    margin-top: 0;
    padding-top: 70px;
}

.section-long {
    padding-top: 80px;
    padding-bottom: 150px;
}

.container-black {
    background-color: #000;
}

.container-black h1,
.container-black h2,
.container-black h3 {
    color: #fff;
}
