.contacts__image:before {
    content: " ";
    display: block;
    margin-bottom: 12px;
    margin-left: -5px;
    width: 24px;
    height: 24px;
    background-image: url("../resources/ic_outline-phone-iphone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts__phone {
    margin-top: 32px;
    display: block;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
}

.contacts__email {
    margin-top: 30px;
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    opacity: 0.5;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
