.projects {
    margin-top: 30px;
}

.projects .project {
    margin-top: 90px;
}

.projects :first-child {
    margin-top: 0;
}

.project_image {
    margin-bottom: 15px;
    width: 100%;

}

.project__title {
    margin-bottom: 15px;
}

.project_link {
color: #AD1818;
font-size: 20px;
font-weight: 400;
line-height: 27px;
text-decoration: none;
}

@media (max-width: 1199px) {
    .project_image {
        width: 100%;
        object-fit: cover;
    }
    
    .project__title {
        font-size: 25px;
        line-height: 34px;
    }
}
@media (max-width: 767px) { 

    .project_image {
        margin-bottom: 20px;
    }
    
    .project__title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .project_link {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 11px;
    }
    
}