.services {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px; /* растояние между колоннами */
    row-gap: 85px; /* растояние между строками */
}

.service {
    width: 570px;
    position: relative;
}

.service__btn {
    position: absolute;
    left: 30px;
    top: 31px;
    padding: 5px 22px 5px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 22px;
    line-height: 30px;
    background-color: #AD1818;

}

.sevices :first-child {
    margin-top: 0;
}

.service__image {
    margin-bottom: 15px;
    width: 100%;
}
